html {
    background-color: white;
    color: white;
}

button {
    display: block;
    margin: auto;
    padding: 20px;
    width: 100px;
    background-color: black;
    border: 2px solid white;
    color: white;

}

button:hover {
    background-color: white;
    color: black;
}

#dothis {
    color: black;
    font-size: 80px;
    margin: 20px;
    text-align: center;
}

#feedback {
    color: black;
    font-size: 40px;
    margin: 20px;
    text-align: center;

}
#numb {
    display: block;
    margin: auto;
}

div{
    color: black;
}
.navigatie{
    background-color: lime;
    height: 100px;
    padding: 20px;
    text-align: left;
    
}

ul {
  list-style-type: none;
  margin: 0;
  position: fixed;
}

li { 
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

li a {
  display: flex;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  transition: 0.5s;
  
}